<observables-excercise></observables-excercise>
<form [ngFormModel]="form">
    Github Search:
    <input type="text" ngControl="search" #searchInput="ngForm"/>
    <div *ngIf="isLoading && !searchInput.value.length">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>

    <div *ngIf="user && !isLoading">
        <h3>User</h3>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object avatar" src="{{user?.avatar_url}}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{user?.login }}</h4>
            </div>
        </div>

        <h3>Followers</h3>
        <div class="media" *ngFor="#follower of followers">
            <div class="media-left">
                <a href="#">
                    <img class="media-object avatar" src="{{follower.avatar_url}}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{follower.login }}</h4>
            </div>
        </div>
    </div>
</form>