<h1>Users</h1>
<a class="btn btn-primary" [routerLink]="['NewUser']" style="margin: 30px 0px">Add User</a>

<table class="table table-bordered">
    <thead class="text-center">
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        <tr *ngFor="#user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><a [routerLink]="['EditUser', 	{	id:  user.id  }]"><i class="glyphicon glyphicon-edit"></i></a></td>
            <td><a (click)="deleteUser(user.id)"><i class="glyphicon glyphicon-remove"></i></a></td>
        </tr>
    </tbody>
</table>